@media (min-width: 500px) {}

@media (min-width: 280px) and (max-width: 480px) {
    .list-settings {
        list-style: none;
        padding-left: 10%;
    }
    .settings-items {
        display: block;
        font-size: x-large;
        border-width: 0.1px;
        border-style: solid;
        margin-top: 4px;
        text-align: center;
        width: 90%;
        height: 2em;
        line-height: 50px;
    }
}